[submodule "Carthage/Checkouts/rKit"]
	path = Carthage/Checkouts/rKit
	url = https://github.com/ReactiveKit/rKit.git
[submodule "Carthage/Checkouts/rFoundation"]
	path = Carthage/Checkouts/rFoundation
	url = https://github.com/ReactiveKit/rFoundation.git
